form {
    display: flex;
    flex-direction: column;
    /* width: 20vw; */
    align-self: center;
}

label {
    display: flex;
    align-items: center;
    margin: 2vh 0vh;
}



input, label {
    flex-direction: row;

}

button {
    margin: 2vh 0vh;
}

#Contact-us {
    background-color: var(--primary-color);
    margin: 11vw 40vw;
    box-shadow: 10px 10px grey;
    width: 17vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

#Contact-us h2, #Contact-us h3, #Contact-us p {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    #Contact-us {

        width: 25vw;
    }    
}

@media screen and (max-width: 768px) {
    #Contact-us {
        width: 35vw;
    }    
}

@media screen and (max-width: 425px) {
    #Contact-us {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }    
}
