:root {
    --primary-color: yellow;
    --secondary-color: orange;
    --lettering: green;
}

body {
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

#container{

}

h1 {
    text-decoration: underline;
}

#backgroundImg {
    background-size: cover;
    width: 100vw;
    height: 200vw;
}


/* navigation links section */
#header {
    background-color: var(--secondary-color);
    padding-top: 1px;
    padding-bottom: 22px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

#header h1 {
    color: var(--lettering);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: xx-large;
}

#header nav {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;   
}

#header nav li a {
    text-decoration: none;
    color: var(--lettering);
    font-size: 18px;
    font-weight: bold;
}

#header nav li a:hover {
    text-decoration: underline;
}

#header li {
    padding: 10px;
}

#header nav li button {
    background-color: orange;
    border: none;
}

@media screen and (min-width: 426px) {
    #header nav li button {
        display: none;
    }    
}

@media screen and (max-width: 425px) {
    #scroll-left {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    #locate-a {
        display: none;
    }

    #contact-us-a {
        display: none;
    }
}

 /* end navigation links section */

 /* About section */ 

#About {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#About h1, #About h2 {
    justify-content: center;

}

#About span {
    font-weight: bolder;
}

.Story {
    background-color: var(--primary-color);
    margin-right: 11vw;
    padding: 20px;
    margin-left: 185px;
    border: 2px solid black;
    box-shadow: 10px 10px gray;
}

.heading {
    font-size: x-large;
    justify-content: center;
}

@media screen and (max-width: 425px) {

}

 /* end About section */

 /* Menu */
 
#Menu h1 {
    display: flex;
    justify-content: center;
}

#Menu section {
    background-color: var(--primary-color);
    border: 2px solid black;
    margin: 3vw 10vw;
    box-shadow: 10px 10px grey;
}

 /* End Menu */

 /* Locate section */

#locate-us {
    width: 74vw;
    margin: 0vw 12vw;
    height: 75vw;
}

@media screen and (min-width: 1024px) {
    #locate-us{
        height: 110vw;
    }    
}

@media screen and (min-width: 768px) {
    #locate-us {
        height: 145vw;
    }    
}

@media screen and (min-width: 425px) {
    #locate-us {
        height: 270vw;
    }    
}

 /* end Locate section */

 /* Contact */

#Contact-us {
    background-color: var(--primary-color);
    margin: 20vw 40vw;
    box-shadow: 10px 10px grey;
    width: 17vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

#Contact-us h2, #Contact-us h3, #Contact-us p {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    #Contact-us {
        width: 25vw;
        margin: 20vw 37vw;
    }    
}

@media screen and (min-width: 768px) {
    #Contact-us {
        width: 35vw;
        margin: 43vw 34vw;
    }    
}

@media screen and (min-width: 425px) {
    #Contact-us {
        width: 60vw;
        margin: 20vw 22vw;
    }    
}

 /* Contact end */

 /* footer */
footer div {
    margin: 0vw 10vw;
}

 #Links {
    padding: 0vw 10vw;
    display: flex;
    justify-content: center;
 }  